<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Bookbook helps you manage your reading lists and determines when it is
  next available in Singapore libraries.

  For enquiries, contact <%= link_to "@baz_codes", "https://twitter.com/baz_codes" %> on Twitter.
</p>