<h1>Editing Reading List</h1>

<%= render 'form', reading_list: @reading_list %>

<%= link_to 'Show', @reading_list %> |
<%= link_to 'Back', reading_lists_path %>
<%= link_to 'Destroy', @reading_list, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
