<footer class="footer"> <small>
        The only library book checker in Singapore. </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a target ="_blank" href="https://bazmoves.com/">Bazmoves</a></li>
        </ul>
    </nav>
</footer>