<!-- Footer -->
<footer class="page-footer fixed-bottom bg-light">
    <div class="container py-4 pb-5">
        <!-- Footer Links -->
    <hr>
        <small>Bookbook</small>
        <ul class="list-inline" style="float: right">
            <li class="list-inline-item"><%= link_to "About", about_path, class: "text-secondary" %></li>
            <li class="list-inline-item"><%= link_to "Contact", contact_path, class: "text-secondary" %></li>
        </ul>
    </div>


    <!-- Copyright -->
    <div class="footer-copyright bg-secondary text-center py-1 text-light"><small>© 2021 Copyright: Bookbook Sg</small>
    </div>

</footer>
<!-- Footer -->